* {
    box-sizing: border-box;
    width: 100%;
}

body {
    background-color: #bdb76b;
}

.navbar {
    text-align: center;
    background-color: #e9967a;
    width: 100%;
    font-family: Alike;
}

.upper {
    border-bottom: 2px solid #000000;
    font-size: 50px;
    display: flex;
    padding-left: 35%;
}

input {
    max-width: 45%;
}

.lower ul {
    display: inline-flex;
    list-style-type: none;
}

.lower ul li {
    border-right: 2px solid #fffafa;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #cd5c5c;
}

ul li .menu {
    display: none;
    margin: 0 15px;
}

ul li:hover .menu{
    display: inline;
}

ul li ul li {
    padding: 0 5px;
}

ul li ul li:nth-of-type(4) {
    border-right: none;
}

.container {
    display: flex;
    font-family: Alike;
    padding: 10px 0;
}

.sidebar {
    background-color: #fff5ee;
    padding-right: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #000000;
}

.stuff {
    display: block;
    text-align: center;
}

.content {
    background-color: #e9967a;
}

.otherstuff {
    background-color: #fff5ee;
}

.photo {
    width: 200px;
    height: 200px;
    opacity: 1;
    cursor: pointer;
}

.photo:hover {
    opacity: 0.7;
}

.title {
    position: absolute;
    top: 30%;
    right: 33%;
    font-size: 20px;
    cursor: pointer;
    color: #fff5ee;
    text-decoration: overline 1px #000000;
}

.title2 {
    position: absolute;
    right: 33%;
    font-size: 20px;
    cursor: pointer;
    color: #fff5ee;
    text-decoration: overline 1px #000000;
}

.title3 {
    position: absolute;
    right: 33%;
    font-size: 20px;
    cursor: pointer;
    color: #fff5ee;
    text-decoration: overline 1px #000000;
}

h2 {
    border-bottom: 2px solid #000000;
    text-align: center;
}

.book {
    display: inline;
}

.pic {
    height: 150px;
    width: 150px;
}

#star {
    display: inline;
    color: #b22222;
    top: -10%;
    right: 25%;
    position: relative;
}

#star2 {
    display: inline;
    font-size: 15px;
    color: #b22222;
    position: relative;
    right: 25%;
    top: -10%;
}

#star3 {
    display: inline;
    font-size: 12px;
    color: #b22222;
    position: relative;
    right: 20%;
    top: -10%;
}
